.about-container {
  margin-top: 10vh;
}
.about-section {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    flex: 5;
    // @include media(">=phone", "<lgphone") {
    //   width: 100%;
    // }
    // @include media(">=lgphone", "<tablet") {
    //   width: 100%;
    // }
    // @include media(">=tablet", "<desktop") {
    //   width: 100%;
    // }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
    p {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  h3 {
    &.light {
      font-weight: 100;
    }
  }
  .image-wrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 50%;
      margin: 0 auto;
    }
    @include media(">=tablet", "<desktop") {
      width: 42%;
    }
    .about-me-img {
      border-radius: 15%;
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.head {
  display: inline-block;
  padding: 0;
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
  margin-left: 30px 30px 30px 0;
  letter-spacing: 5px;
  font-size: 14px;
}